# Exclude personal study materials directory and its contents
**/Materials/
*.zip

# CS50 Library files
libcs50-*
libcs50_*

# Ignore all empty directories
!**/.gitkeep

# macOS specific files
.DS_Store

# Windows-specific files
desktop.ini
Thumbs.db

# Visual Studio Code settings
.vscode/